[statsfeeder]
# Graphite server host and port
Graphite_Host=127.0.0.1
Graphite_Port=2003

#Frequency in seconds
Frequency=60
Stats_dir=/config/stats.d/


# Switch to DEV in order to run statsfeeder in dryrun mode
Env=PROD
